alembic==1.5.8
appdirs==1.4.4
APScheduler==3.6.3
apturl==0.5.2
asgiref==3.3.4
astroid==2.5.1
attrs==19.3.0
Babel==2.9.0
bcrypt==3.1.7
Beaker==1.6.4
beautifulsoup4==4.9.3
blinker==1.4
boto3==1.14.31
botocore==1.17.31
bottle==0.12.7
Brlapi==0.7.0
Brotli==1.0.9
bs4==0.0.1
CacheControl==0.12.6
cached-property==1.5.1
cachetools==4.2.2
captcha==0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
Click==7.0
click-plugins==1.1.1
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2.5
django-ckeditor==5.9.0
django-cors-headers==3.7.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.2.1
django-filter==2.3.0
django-guardian==2.0.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-modeltranslation==0.17.1
django-nested-admin==3.3.3
django-ranged-response==0.2.0
django-rest-auth==0.9.5
django-rest-passwordreset==1.2.0
django-simple-captcha==0.5.14
django-static==1.5.6
django-storages==1.9.1
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
djoser==2.1.0
dnspython==2.1.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
drf-yasg==1.20.0
duplicity==0.8.12.0
email-validator==1.1.2
engineering-notation==0.6.0
entrypoints==0.3
fake-useragent==0.1.11
fasteners==0.14.1
filelock==3.0.12
firebase-admin==5.0.2
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.9.0
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
future==0.18.2
GDAL==3.0.4
gitignore==0.0.8
google-api-core==1.31.2
google-api-python-client==2.21.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.0.0
google-cloud-firestore==2.3.2
google-cloud-storage==1.42.2
google-crc32c==1.1.2
google-resumable-media==2.0.2
googleapis-common-protos==1.53.0
gpg===1.13.1-unknown
grpcio==1.40.0
gunicorn==20.0.4
httplib2==0.9
humanfriendly==9.1
idna==2.10
impacket==0.9.23
importlib-metadata==1.5.0
inflection==0.5.1
instagram-py==2.0.7
isort==5.7.0
itsdangerous==1.1.0
itypes==1.2.0
jaraco.functools==3.3.0
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==3.2.0
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.5.2
ldap3==2.9
ldapdomaindump==0.9.3
lockfile==0.12.2
lolcat==1.4
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.4.3
mccabe==0.6.1
monotonic==1.5
more-itertools==8.7.0
MouseInfo==0.1.3
msgpack==1.0.2
netcat==0.0.1a0
netifaces==0.10.4
numpy==1.21.2
oauthlib==3.1.0
olefile==0.46
packaging==20.9
paramiko==2.7.2
passlib==1.7.4
pexpect==4.6.0
pgadmin4==5.1
phonenumbers==8.12.21
Pillow==8.2.0
pipenv==2020.11.15
progressbar==2.5
proto-plus==1.19.0
protobuf==3.18.0
psutil==5.8.0
psycopg2==2.8.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.16.2
pycparser==2.20
pycryptodomex==3.10.1
pycups==1.9.73
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==2.1.0
pylint==2.7.2
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.14.1
PyRect==0.1.4
pyRFC3339==1.1
pyrsistent==0.15.5
PyScreeze==0.1.27
PySocks==1.7.1
pyTelegramBotAPI==3.7.6
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-editor==1.0.4
python-instagram==1.1.3
python-monkey-business==1.0.0
python-telegram-bot==13.5
python3-openid==3.2.0
python3-xlib==0.15
PyTweening==1.0.3
pytz==2021.1
pywhatkit==5.1
pyxdg==0.26
PyYAML==5.3.1
redis==2.10.3
reportlab==3.5.34
requests==2.25.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rsa==4.7.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scapy==2.4.5
SecretStorage==2.3.1
shodan==1.25.0
simplejson==3.6.3
sip==4.19.21
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
speaklater==1.3
speaklater3==1.4
SQLAlchemy==1.3.23
sqlparse==0.4.1
sshtunnel==0.4.0
static3==0.7.0
stem==1.8.0
systemd-python==234
termcolor==1.1.0
texttable==1.6.2
tk-tools==0.14.0
toml==0.10.2
torbrowser-launcher==0.3.2
tornado==6.1
ttystatus==0.38
tzlocal==2.1
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.4
usb-creator==0.3.7
virtualenv==20.4.2
virtualenv-clone==0.5.4
wadllib==1.3.3
websocket-client==0.53.0
Werkzeug==1.0.1
wget==3.2
whitenoise==5.1.0
wikipedia==1.4.0
wrapt==1.12.1
WTForms==2.3.3
xkit==0.0.0
XlsxWriter==1.4.0
zipp==1.0.0
